.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 300px;
  margin: 2rem;
}

.cardContainer {
  display: flex;
  flex-direction: column; /* Arrange the rows vertically */
  align-items: center; /* Center the rows horizontally */
}

.row {
  display: flex;
}

.row > * {
  flex-basis: 50%;
  padding: 0 8px;
  box-sizing: border-box;
  margin: 1rem;
}
