.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.main h2 {
	font-size: 3rem;
}

.main .thankText,
.main h2 {
	margin: 2rem 2rem;
}

.button {
	width: 500px;
	margin: 2rem;
}
